body {
  background-color: #ffffff;
  font-family: sans-serif;
  margin: 0;
}

h1 {
font-family: 'Concert One', cursive;
text-align: center;
}

.header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #182CEB;
  color: #EBBC17;
  padding: 15px;
  margin: 0;
  margin-bottom: 15px;
}

.container {
  max-width: 960px;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.content2 {
  flex-wrap: nowrap;
  color: #182CEB;
}

/*
.content1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header, .container1, .container2 {
  background-color: #EBBC17;
  padding: 1%;
}
*/