body {
  background-color: #182CEB;
}

h1 {
font-family: 'Concert One', cursive;
color: #2a2a2a;
text-align: center;
align-items: center;
}

.header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.header, .container1, .container2 {
  background-color: #EBBC17;
  padding: 1%;
}
